.bg-main {
	background-color: #eee;
	height: 100vh;
}
.input-group {
	width: 35%;
}
.cart-container {
	background-color: lightgrey;
	height: 500px;
}
.cart {
	background-color: black;
	height: 400px;
}
.f-white {
	color: white;
}
.f-grey {
	color: darkgrey;
}
.d-hide {
	display: none;
}
.modal-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10;
	padding: 30px;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-content {
	z-index: 15;
	background-color: white;
	border-radius: 5px;
	padding: 50px;
	width: 50%;
}
.show-modal {
	visibility: visible;
}
.bill-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 100;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}
.bill-content {
	background-color: #eee;
	z-index: 125;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.show-bill {
	visibility: visible;
}
#bill-close-btn {
	width: 400px;
}
